### Quick visualisation of the datas, 
download data here : https://conservancy.umn.edu/handle/11299/257209
and the csv form

In [10]:
import pandas as pd
import numpy as np

import sunpy.coordinates  # NOQA
import sunpy.map
from sunpy.net import Fido
from sunpy.net import attrs as a
from functions_AIA import *

/opt/anaconda3/envs/ML/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
data=pd.read_csv("./data/Jet_clusters_3.0_2.0_paperID.csv", sep=",")
data.columns=data.columns.str.strip()

In [3]:
data=data.drop(columns="velocity")
data

,#sjh_ID,date,SOL_event,duration,basepoint_X,std_X,basepoint_Y,std_Y,basepoint_X_longitude,basepoint_Y_latitude,max_height,upper_H,lower_H,avg_width,std_width,sigma,flag
0,sjh_2011-01-20T09_1,2011-01-20T09:15:44.000000,SOL2011-01-20T09:00:09L289C165,43.6,-226.577125,7.456468,-956.964375,9.576814,-109.0,-75.0,173.811389,46.785032,-36.862662,52.282512,14.552284,0.417661,1
1,sjh_2011-01-20T23_1,2011-01-20T23:49:20.000000,SOL2011-01-20T22:00:09L353C074,10.8,-143.625000,1.125000,386.404000,2.856000,-8.0,18.0,97.731917,16.548028,-14.151831,83.204500,10.121327,0.337046,10
2,sjh_2011-01-20T23_2,2011-01-20T23:54:32.000000,SOL2011-01-20T22:00:09L353C074,5.6,-142.500000,0.000000,389.260000,0.000000,-8.0,18.0,75.814019,49.693522,-30.017843,40.384010,0.000000,0.635112,110
3,sjh_2011-01-21T04_1,2011-01-21T04:14:32.000000,SOL2011-01-20T22:00:09L353C074,9.2,-100.466000,0.000000,387.028000,0.000000,-6.0,18.0,84.057521,30.622882,-22.445714,79.405020,0.000000,0.462752,10
4,sjh_2011-01-21T06_1,2011-01-21T06:48:56.000000,SOL2011-01-20T22:00:09L353C074,5.6,-11.371400,0.000000,475.010000,0.000000,-0.0,23.0,129.894627,38.593654,-29.753454,73.469787,0.000000,0.405649,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878,sjh_2016-11-28T23_1,2016-11-28T23:31:18.000000,SOL2016-11-28T23:15:34L282C007,21.4,90.741233,13.444358,992.448333,10.397446,100.0,84.0,74.231647,28.677197,-20.685837,41.422292,16.527980,0.459268,1
879,sjh_2016-12-01T06_1,2016-12-01T06:15:42.000000,SOL2016-12-01T06:00:06L078C065,26.4,-925.214000,3.371743,334.932400,4.124857,-90.0,19.0,182.893574,76.771017,-54.073317,56.740563,4.853882,0.465372,0
880,sjh_2016-12-14T18_1,2016-12-14T18:21:18.000000,SOL2016-12-14T18:16:06L031C014,10.8,139.922000,1.121000,946.276000,0.290000,34.0,75.0,37.325099,14.085658,-10.226432,27.281073,3.442009,0.516663,10
881,sjh_2016-12-24T14_1,2016-12-24T14:29:42.000000,SOL2016-12-24T14:29:34L217C003,10.4,-0.883805,0.170815,988.594000,2.634000,-1.0,87.0,72.070191,15.427879,-12.707597,27.402313,4.503471,0.386284,0
882,sjh_2016-12-24T14_2,2016-12-24T14:29:42.000000,SOL2016-12-24T14:29:34L217C003,5.6,-28.945600,0.000000,982.297000,0.000000,-36.0,87.0,38.278101,4.101062,-3.704199,15.276940,0.000000,0.184177,110

In [4]:
data[data["max_height"]==data["max_height"].max()]

,#sjh_ID,date,SOL_event,duration,basepoint_X,std_X,basepoint_Y,std_Y,basepoint_X_longitude,basepoint_Y_latitude,max_height,upper_H,lower_H,avg_width,std_width,sigma,flag
175,sjh_2012-07-20T16_1,2012-07-20T16:35:19.000000,SOL2012-07-20T16:30:04L249C058,26.4,-864.2925,5.845968,401.53125,19.327722,-92.0,24.0,434.059184,123.119016,-95.913551,213.187214,73.908587,0.419553,1

In [5]:
print(data["duration"].min())
print(30*24/60)

5.4
12.0

In [6]:
date=data["date"].copy()
date=pd.to_datetime(date)
date=date.dt.date
date=pd.DataFrame({"date": date.unique()})
date

           date
0    2011-01-20
1    2011-01-21
2    2011-01-24
3    2011-01-26
4    2011-02-13
..          ...
186  2016-10-28
187  2016-11-28
188  2016-12-01
189  2016-12-14
190  2016-12-24

[191 rows x 1 columns]

In [7]:
start_date = date["date"].min()
end_date = date["date"].max()

date_range = pd.date_range(start=start_date, end=end_date, freq='D')
full_days = pd.DataFrame({'date': date_range})
full_days=full_days[~full_days["date"].isin(date["date"])]
#outer=pd.merge(full_days, date, how="left", on="date")
#outer
full_days

           date
2    2011-01-22
3    2011-01-23
5    2011-01-25
7    2011-01-27
8    2011-01-28
...         ...
2160 2016-12-19
2161 2016-12-20
2162 2016-12-21
2163 2016-12-22
2164 2016-12-23

[1975 rows x 1 columns]

In [76]:
randomized_days= full_days.sample(frac=1, random_state=42).reset_index()
randomized_days["basepoint_X"]=data["basepoint_X"]
randomized_days["basepoint_Y"]=data["basepoint_Y"]
randomized_days=randomized_days.dropna()
randomized_days=randomized_days.drop(columns="index")
randomized_days

          date  basepoint_X  basepoint_Y
0   2016-07-09  -226.577125  -956.964375
1   2016-03-23  -143.625000   386.404000
2   2013-01-15  -142.500000   389.260000
3   2012-01-30  -100.466000   387.028000
4   2016-05-29   -11.371400   475.010000
..         ...          ...          ...
878 2013-11-20    90.741233   992.448333
879 2015-10-10  -925.214000   334.932400
880 2016-05-28   139.922000   946.276000
881 2016-07-17    -0.883805   988.594000
882 2015-02-14   -28.945600   982.297000

[883 rows x 3 columns]

In [8]:
def randomize_time(date):
    np.random.seed=10
    random_hour = np.random.randint(0, 24)
    random_minute = np.random.randint(0, 60)
    #liste=[8,20,32,44,56] #Only possible seconds 12 sec intervals
    #val=np.random.randint(0, 5) 
    random_second = np.random.randint(0, 60)#liste[val]
    return date.replace(hour=random_hour, minute=random_minute, second=random_second)

In [9]:
randomized_days["date"]=randomized_days["date"].apply(randomize_time)
randomized_days['date'] = pd.to_datetime(randomized_days['date']).dt.strftime('%Y-%m-%dT%H:%M:%S.%f')
display(randomized_days)
randomized_days.to_csv("No_jet_df.csv", index=False)

NameError: name 'randomized_days' is not defined

In [38]:
""" Importing HEK CJ events """

event_type = "CJ"
start_date = date["date"].min()
end_date = date["date"].max()

result = Fido.search(a.Time('2011-01-20T00:00', '2016-12-24T00:00'),
                     a.hek.EventType(event_type),)
                     #a.hek.FL.GOESCls > "M1.0",
                     #a.hek.OBS.Observatory == "GOES")

#print(result.all_colnames())
hek_results = result["hek"]
print(hek_results.colnames)

['gs_thumburl', 'comment_count', 'hpc_bbox', 'outflow_width', 'frm_humanflag', 'hgc_coord', 'event_coordsys', 'obs_levelnum', 'hpc_coord', 'event_npixels', 'gs_imageurl', 'ar_polarity', 'frm_paramset', 'hrc_coord', 'event_starttime', 'ar_mtwilsoncls', 'event_type', 'intensmin', 'obs_meanwavel', 'outflow_openingangle', 'frm_url', 'skel_chaincode', 'bound_chaincode', 'noposition', 'active', 'intensmax', 'frm_versionnumber', 'area_uncert', 'obs_dataprepurl', 'hpc_geom', 'hgc_bbox', 'intensmedian', 'chaincodetype', 'obs_channelid', 'event_clippedspatial', 'ar_noaaclass', 'SOL_standard', 'event_avg_rating', 'eventtype', 'intensunit', 'hpc_boundcc', 'event_mapurl', 'frm_contact', 'ar_penumbracls', 'intensmean', 'bound_ccstartc1', 'outflow_transspeed', 'frm_name', 'area_atdiskcenter', 'frm_identifier', 'obs_observatory', 'event_description', 'boundbox_c2ur', 'obs_firstprocessingdate', 'boundbox_c2ll', 'frm_institute', 'hrc_bbox', 'refs_orig', 'ar_mcintoshcls', 'event_maskurl', 'bound_ccstartc2', 'gs_movieurl', 'event_score', 'skel_startc2', 'skel_startc1', 'event_expires', 'outflow_speedunit', 'hrc_boundcc', 'event_probability', 'intensvar', 'frm_daterun', 'outflow_lengthunit', 'outflow_length', 'event_coordunit', 'hpc_y', 'hpc_x', 'search_instrument', 'ar_numspots', 'kb_archivdate', 'kb_archivist', 'intenstotal', 'sum_overlap_scores', 'hgs_boundcc', 'intensskew', 'obs_includesnrt', 'rasterscan', 'obs_wavelunit', 'kb_archivid', 'search_frm_name', 'boundbox_c1ur', 'ar_noaanum', 'area_atdiskcenteruncert', 'boundbox_c1ll', 'event_importance_num_ratings', 'ar_compactnesscls', 'skel_curvature', 'event_testflag', 'event_c2error', 'hrc_r', 'skel_nsteps', 'hgs_y', 'obs_title', 'hgs_x', 'hcr_checked', 'frm_specificid', 'event_title', 'obs_instrument', 'event_c1error', 'revision', 'hpc_radius', 'outflow_widthunit', 'event_endtime', 'event_importance', 'event_coord2', 'event_coord3', 'event_coord1', 'search_observatory', 'area_raw', 'concept', 'event_pixelunit', 'hgc_boundcc', 'outflow_speed', 'hgc_x', 'hrc_a', 'event_peaktime', 'hgc_y', 'gs_galleryid', 'hgs_coord', 'ar_zurichcls', 'bound_ccnsteps', 'intenskurt', 'event_clippedtemporal', 'rasterscantype', 'search_channelid', 'hgs_bbox', 'area_unit', 'obs_lastprocessingdate', 'refs']

In [60]:
filtered_results = hek_results['SOL_standard','event_coord1', 'event_coord2','hpc_bbox','event_starttime','event_endtime'] 
results_df = filtered_results.to_pandas()


df = results_df.drop_duplicates()

"""
 Split each event into chunks of 12 minutes (24s * 30)

 """

df['event_starttime'] = pd.to_datetime(df['event_starttime'])
df['event_endtime'] = pd.to_datetime(df['event_endtime'])

split_interval = pd.to_timedelta('12 minutes')

# Create a new DataFrame to store the split events
column_names = ['SOL_standard', 'event_coord1', 'event_coord2', 'event_starttime', 'event_endtime' ]
split_df = pd.DataFrame(columns=column_names)

# Iterate over the original DataFrame
for index, row in df.iterrows():
    event_start = row['event_starttime']
    event_end = row['event_endtime']
    # Generate a range of timestamps within the original event's time interval
    intervals = pd.date_range(start=event_start, end=event_end, freq=split_interval)
    
    time_stamps = intervals[0]
    for i in range((intervals.shape)[0]-1):
        split_df.loc[len(split_df.index)] = [row['SOL_standard'], 
                        row['event_coord1'], 
                        row['event_coord2'], 
                        intervals[i],
                        intervals[i+1]]


# Display the DataFrame with split events
print(split_df.shape)
split_df

/var/folders/7l/ltdxzx1s3dj_sz2kw6_5g8k00000gn/T/ipykernel_23949/459816377.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['event_starttime'] = pd.to_datetime(df['event_starttime'])
/var/folders/7l/ltdxzx1s3dj_sz2kw6_5g8k00000gn/T/ipykernel_23949/459816377.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['event_endtime'] = pd.to_datetime(df['event_endtime'])

(4710, 5)

,SOL_standard,event_coord1,event_coord2,event_starttime,event_endtime
0,SOL2011-01-20T09:00:09L289C165,-245.0,-1003.0,2011-01-20 09:00:09,2011-01-20 09:12:09
1,SOL2011-01-20T09:00:09L289C165,-245.0,-1003.0,2011-01-20 09:12:09,2011-01-20 09:24:09
2,SOL2011-01-20T09:00:09L289C165,-245.0,-1003.0,2011-01-20 09:24:09,2011-01-20 09:36:09
3,SOL2011-01-20T09:00:09L289C165,-245.0,-1003.0,2011-01-20 09:36:09,2011-01-20 09:48:09
4,SOL2011-01-20T22:00:09L353C074,-13.0,357.0,2011-01-20 22:00:09,2011-01-20 22:12:09
...,...,...,...,...,...
4705,SOL2016-12-10T01:00:06L076C076,373.0,244.0,2016-12-10 03:36:06,2016-12-10 03:48:06
4706,SOL2016-12-10T01:00:06L076C076,373.0,244.0,2016-12-10 03:48:06,2016-12-10 04:00:06
4707,SOL2016-12-10T01:00:06L076C076,373.0,244.0,2016-12-10 04:00:06,2016-12-10 04:12:06
4708,SOL2016-12-14T18:16:06L031C014,144.0,952.0,2016-12-14 18:16:06,2016-12-14 18:28:06
4709,SOL2016-12-14T18:16:06L031C014,144.0,952.0,2016-12-14 18:28:06,2016-12-14 18:40:06

In [65]:
""" 
Compare each time chunk of split_df (HEK CJ events) and the original csv

"""

# Add a new column to our .csv containing the endtime of each event
csv_df = data.copy()
csv_df['date'] = pd.to_datetime(csv_df['date'])

# Calculate the end time and add a new column 'End_Time'
csv_df['end_time'] = csv_df['date'] + pd.to_timedelta(csv_df['duration'], unit='m')
csv_df

""" TO DO
- for each SOL_event, compare time intervals from split_df and csv_df
=> convert starttime and endtime of csv_df to intervals using pd.interval('starttime', 'endtime')
=> check for overlap by comparing each start_time and end_time from split_df with the jet interval (use interval.right and interval.left)
- use boolean indexing to index the intervals in split_df that do not overlap
- use those the fetch images
"""

,#sjh_ID,date,SOL_event,duration,basepoint_X,std_X,basepoint_Y,std_Y,basepoint_X_longitude,basepoint_Y_latitude,max_height,upper_H,lower_H,avg_width,std_width,sigma,flag,end_time
0,sjh_2011-01-20T09_1,2011-01-20 09:15:44,SOL2011-01-20T09:00:09L289C165,43.6,-226.577125,7.456468,-956.964375,9.576814,-109.0,-75.0,173.811389,46.785032,-36.862662,52.282512,14.552284,0.417661,1,2011-01-20 09:59:20
1,sjh_2011-01-20T23_1,2011-01-20 23:49:20,SOL2011-01-20T22:00:09L353C074,10.8,-143.625000,1.125000,386.404000,2.856000,-8.0,18.0,97.731917,16.548028,-14.151831,83.204500,10.121327,0.337046,10,2011-01-21 00:00:08
2,sjh_2011-01-20T23_2,2011-01-20 23:54:32,SOL2011-01-20T22:00:09L353C074,5.6,-142.500000,0.000000,389.260000,0.000000,-8.0,18.0,75.814019,49.693522,-30.017843,40.384010,0.000000,0.635112,110,2011-01-21 00:00:08
3,sjh_2011-01-21T04_1,2011-01-21 04:14:32,SOL2011-01-20T22:00:09L353C074,9.2,-100.466000,0.000000,387.028000,0.000000,-6.0,18.0,84.057521,30.622882,-22.445714,79.405020,0.000000,0.462752,10,2011-01-21 04:23:44
4,sjh_2011-01-21T06_1,2011-01-21 06:48:56,SOL2011-01-20T22:00:09L353C074,5.6,-11.371400,0.000000,475.010000,0.000000,-0.0,23.0,129.894627,38.593654,-29.753454,73.469787,0.000000,0.405649,110,2011-01-21 06:54:32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878,sjh_2016-11-28T23_1,2016-11-28 23:31:18,SOL2016-11-28T23:15:34L282C007,21.4,90.741233,13.444358,992.448333,10.397446,100.0,84.0,74.231647,28.677197,-20.685837,41.422292,16.527980,0.459268,1,2016-11-28 23:52:42
879,sjh_2016-12-01T06_1,2016-12-01 06:15:42,SOL2016-12-01T06:00:06L078C065,26.4,-925.214000,3.371743,334.932400,4.124857,-90.0,19.0,182.893574,76.771017,-54.073317,56.740563,4.853882,0.465372,0,2016-12-01 06:42:06
880,sjh_2016-12-14T18_1,2016-12-14 18:21:18,SOL2016-12-14T18:16:06L031C014,10.8,139.922000,1.121000,946.276000,0.290000,34.0,75.0,37.325099,14.085658,-10.226432,27.281073,3.442009,0.516663,10,2016-12-14 18:32:06
881,sjh_2016-12-24T14_1,2016-12-24 14:29:42,SOL2016-12-24T14:29:34L217C003,10.4,-0.883805,0.170815,988.594000,2.634000,-1.0,87.0,72.070191,15.427879,-12.707597,27.402313,4.503471,0.386284,0,2016-12-24 14:40:06
882,sjh_2016-12-24T14_2,2016-12-24 14:29:42,SOL2016-12-24T14:29:34L217C003,5.6,-28.945600,0.000000,982.297000,0.000000,-36.0,87.0,38.278101,4.101062,-3.704199,15.276940,0.000000,0.184177,110,2016-12-24 14:35:18

<h1>Description of the features</h1>


<p><strong>"sjh_ID”</strong>: Solar Jet Hunter ID for this jet (data and hour of event; last number denotes which event this was in that hour) <br><br>
<strong>Date</strong>: Observation time of the start of the jet (format YYYY-MM-DDThh:mm:ss) <br><br>
<strong>SOL_event</strong>: The coronal jet event name from HEK database where this jet was found in (multiple jets can be found in one coronal event) <br><br>
<strong>Duration</strong> of the jet (minutes) <br><br>
<strong>Basepoint_X</strong>: Basepoint of the jet in (Heliocentric solar X coordinates in arcsec) <br><br>
<strong>Std_X</strong>: Standard deviation of the base point if there were multiple measurements of the base point (Heliocentric solar X coordinates in arcsec) <br> <br><strong>Basepoint_Y</strong>: Basepoint of the jet in (Heliocentric solar Y coordinates in arcsec)  <br><br>
<strong>Std_Y</strong>: Standard deviation of the base point if there were multiple measurements of the base point (Heliocentric solar Y coordinates in arcsec) <br> <br><strong>basepoint_X_longitude</strong>: Basepoint of the jet (longitude) <br><br>
<strong>basepoint_Y_latitude</strong>: Basepoint of the jet (latitude) <br><br>
<strong>max_height</strong>: Maximum height jet reaches (arcsec) <br><br>
<strong>upper_H</strong>: Upper limit of the error height (arcsec) <br><br>
<strong>lower_H</strong>: Lower limit of the error height (arcsec) <br><br
<strong>avg_width</strong>: Average width of the jet box (arcsec) <br><br>
<strong>std_width</strong>: Standard deviation width (arcsec) <br><br>
<strong>velocity</strong>: Velocity estimate (arcsec per sec)sigma: Average sigma of the jet, (sigma= 1-IoU) <br><br>
<strong>flag</strong>: Binary quality flagsflag 100 means the jet cluster has a duration of less than 6 minutes, which for many corresponds to a jet cluster found in one Zooniverse subject.flag 010 means the velocity estimate could not be calculated because the maximum was reached in the first subject the jet was found in.flag 001 means the basepoint has a Longitude of higher than 90 degrees meaning the base point was found to be (slightly) off limb. <br> </p>